@import "/home/sammy/.cache/wal/colors-waybar.css";

* {
    border-radius: 0;
    font-family: Iosevka;
    font-size: 15px;
    min-height: 0px;
    min-width: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
}

#tags {
    margin-top: 6px;
    margin-left: 6px;
    padding: 1px;
    background-color: @color0; 
    border: 2px solid @color8;
}

#tags button {
    margin: 2px;
    padding: 1 6px;
    color: @color8;
    border: 2px solid @color0;
}

#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#tags button.focused {
    color: @color0;
    background-color: @color8;
    border: 2px solid @color0;
}

#tags button.occupied {
    border: 2px solid @color8;
}

#tags button.focused.occupied {
    color: @color0;
    background-color: @color8;
    border: 2px solid @color8;
}

#tags button.urgent {
    border: 2px solid @color1; 
}

#tags button.occupied.urgent {
    border: 2px solid @color1;
}

#network, #idle_inhibitor, #clock, #custom-inbox, #cpu, #memory, #disk, #temperature, #battery {
   padding: 1 6px;
   margin-top: 6px;
   background-color: @color0; 
   color: @color8;
   border: 2px solid @color8; 
}

#clock {
   margin-left: 0px;
   margin-right: 0px;
}

#battery {
   margin-right: 6px;
}

#battery.charging, 
#battery.plugged {
    color: @color8;
    background-color: @color0;
}

#battery.warning,
#battery.critical {
    border: 2px solid @color3; 
}

#cpu.critical,
#memory.critical,
#temperature.critical, 
#battery.critical:not(.charging) {
    border: 2px solid @color1;
}
