/* gruvbox dark colours */
@define-color base03 #282828;
@define-color base02 #282828; 
@define-color base1 #928374;
@define-color red #fb4934;
@define-color yellow #fabd2f;
/* @define-color text #ebdbb2; */
/* @define-color comment #928374; */
/* @define-color grey #909090; */

* {
		border-radius: 0;
		font-family: Mononoki Nerd Font;
		font-size: 15;
		min-height: 0px;
		min-width: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
}

#tags {
		margin-top: 6px;
    margin-left: 6px;
    padding: 1px;
    background-color: @base02; 
    border: 2px solid @base1;
}

#tags button {
		margin: 2px;
		padding: 1 6px;
		color: @base1;
		border: 2px solid @base02;
}

#tags button:hover {
		box-shadow: inherit;
		text-shadow: inherit;
		background: inherit;
}

#tags button.focused {
		color: @base02;
		background-color: @base1;
		border: 2px solid @base02;
}

#tags button.occupied {
    border: 2px solid @base1;
}

#tags button.focused.occupied {
		color: @base02;
		background-color: @base1;
		border: 2px solid @base1;
}

#tags button.urgent {
		border: 2px solid @red; 
}

#tags button.occupied.urgent {
		border: 2px solid @red;
}

#network, #idle_inhibitor, #clock, #custom-inbox, #cpu, #memory, #disk, #temperature, #battery {
   padding: 1 6px;
	 margin-top: 6px;
   background-color: @base02; 
   color: @base1;
	 border: 2px solid @base1; 
}

#clock {
	 margin-left: 0px;
	 margin-right: 0px;
}

#battery {
	 margin-right: 6px;
}

#battery.charging, 
#battery.plugged {
    color: @base1;
    background-color: @base02;
}

#battery.warning,
#battery.critical {
    border: 2px solid @yellow; 
}

#cpu.critical,
#memory.critical,
#temperature.critical, 
#battery.critical:not(.charging) {
    border: 2px solid @red;
}
