.org-id-locations
auto-save-list/
bookmarks
elpa
eln-cache/
eshell
fontaine-latest-state.eld
history
org-roam.db
places
projects
straight/*
!straight/versions/
straight/versions/*
!straight/versions/default.el
recentf
transient
