* {
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

#navigator-toolbox {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  border-bottom: 0 !important;	
}

#nav-bar{
  background-color: transparent !important;
}

#titlebar {
  flex-grow: 1 !important;
  background: var(--accent-color) !important;
}

.titlebar-spacer,
.titlebar-buttonbox-container,
.urlbar-background,
#identity-box,
#page-action-buttons,
#tracking-protection-icon-container,
#alltabs-button,
#PersonalToolbar,
#toolbar-menubar,
#urlbar-searchmode-switcher,
#forward-button,
#back-button,
#reload-button,
#stop-button {
  display: none !important;
}
